body{
    background-color: coral;
    background-image: url("../pic/fon.jpg");
    background-repeat: no-repeat;
}
/*==========header==========================*/
.header {
    height: 50px;
    background:rgba(124, 212, 255, 0.2);

    border: 1px solid black;
}
.headerMenu{

    margin: 0 0 0 15%;
    display: inline-block;
    position: relative;
    width: 59%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
}
.headerSocialNetwork{
    margin: 0;
    display: inline-block;
    position: relative;
    width: 10%;
    height: 100%;
    text-align: center;
    border: 1px solid black;
}
/*===========wrapper=========================*/
.wrapper{
    color: aliceblue;
    margin: 5px auto;
    text-align: center;
    border: 1px solid black;
    display: block;
    width: 60%;
    height:500px; }
/*===========footer=========================*/
.footer{
    bottom: 0;
    position: fixed;
    height: 120px;
    width: 100%;
    /*margin: 0 auto;*/
    border: 1px solid black;
    text-align: center;
}
.footerTop{
    height: 75%;
    border: 1px solid black;
}
.footerTop div {
    margin: 10px auto 0;
    padding: 0;
    display: inline-block;
    position: relative;

    border-radius: 25px;
    width: 70px;
    height: 70px;
    /*border: 1px solid black;*/
    overflow: hidden;
}
.footerBottom{
    height: 25%;
    border: 1px solid black;

}


